name: Format

on: pull_request

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Install testing dependencies
      run: yarn install

    - name: Run prettier
      run: yarn format

    - uses: stefanzweifel/git-auto-commit-action@v7.0.0
      with:
        commit_message: Apply prettier changes
        branch: ${{ github.head_ref }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
